[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

molecule = "==2.5.0"
ansible = "==2.3.1.0"
docker = "*"
docker-py = "*"


[requires]

python_version = "2.7"
