---

- name: REDIS | Create server conf path
  file:
    path: "{{ redis_conf_path }}"
    state: directory
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"
    mode: 0755

- name: REDIS | Copy server config
  template:
    src: "{{ redis_server_conf_template_path }}"
    dest: "{{ redis_conf_path }}/redis.conf"
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"
    mode: 0644
  notify: restart redis

- name: REDIS | Copy default config
  copy:
    src: "{{ redis_build_path }}/redis.conf"
    dest: "{{ redis_conf_path }}/redis-default.conf"
    mode: 0644
    remote_src: yes
  notify: restart redis
  when: include_redis_default_conf

- name: REDIS | Copy manager script
  template:
    src: "{{ redis_manager_template_path }}"
    dest: "{{ redis_bin_path }}/instance-manager.sh"
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"
    mode: 0755
  notify: restart redis

- name: REDIS | Copy redis-server service config
  template:
    src: "{{ redis_service_template_path }}"
    dest: /lib/systemd/system/redis-server.service
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"
    mode: 0755
  notify: restart redis

- name: REDIS | Copy cluster creator
  template:
    src: "{{ item }}.j2"
    dest: "{{ redis_conf_path }}/{{ item }}"
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"
    mode: 0755
  with_items:
    - cluster-config.sh
    - cluster-creator.sh
    - upgrading-helper.sh
  when: redis_mode == 'cluster'
