#!/usr/bin/env bash

PORT={{ redis_confs.port }}
CURRENT_HOST="{{ inventory_hostname }}"
NODE_IP="{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:$PORT"
HOSTS="{{ ansible_play_hosts  | join(' ') }}"
HOSTS_IPS="{% for h in ansible_play_hosts %}
{{ hostvars[h]['ansible_default_ipv4']['address'] }} {% endfor %}"

{% if redis_cluster_replicas != 0 %}
REPLICAS="--replicas {{ redis_cluster_replicas }}"
{% endif %}
REDIS_PATH={{ redis_install_path }}
REDIS_CONF={{ redis_conf_path }}
NODE_CONF_FILE={{ redis_confs['cluster-config-file'] }}

redis-trib () {
 $REDIS_PATH/src/redis-trib.rb $@
}
