#!/bin/bash

source "{{ redis_conf_path }}/cluster-config.sh"

COUNT_NODES=0
COUNT_PONGS=0

for HOST in $HOSTS; do
    COUNT_NODES=$(($COUNT_NODES+1))
    PONG=$(redis-cli -h $HOST -p $PORT PING)
    if [ "$PONG" == "PONG" ]; then
        COUNT_PONGS=$((COUNT_PONGS+1))
    fi
done

if [ "$COUNT_PONGS" != "$COUNT_NODES" ]; then
    echo "Waiting nodes..."
    exit 0
fi

COUNT_NODES_ON_CLUSTER=$(redis-cli -p $PORT cluster nodes | wc -l)

if [ "$COUNT_NODES_ON_CLUSTER" != "1" ]; then
    echo "Nodes already know each others..."
    exit 0
fi

HOSTS="";

# redis doesnt accept hostname as cluster members https://github.com/antirez/redis/pull/2323
for IP in $HOSTS_IPS; do
  HOSTS="$HOSTS $IP:$PORT"
done

yes "yes" | redis-trib create $REPLICAS $HOSTS