#!/usr/bin/env bash

source "cluster-config.sh"

SLOTS=5461

set-node-id () {
    NODE_ID=$(redis-cli cluster nodes | grep myself | cut -d" " -f1)
}

set-node-ip () {
    NODE_IP=$(redis-cli cluster nodes | grep myself | cut -d" " -f2 | cut -d"@" -f1)
}

set-other-master-id () {
    OTHER_MASTER_ID=$(redis-cli cluster nodes | grep master | grep -v myself | head -1 | cut -d" " -f1)
}

set-other-master-ip () {
    OTHER_MASTER_IP=$(redis-cli cluster nodes | grep master | grep -v myself | head -1 | cut -d" " -f2 | cut -d"@" -f1)
}

is-master() {
    ROLE=$(redis-cli role 2> /dev/null | grep master | wc -l)
    [ "${ROLE}" == "1" ] && return 0 || return 1
}

reshard () {
    set-node-id
    set-node-ip
    set-other-master-id
    redis-trib reshard --from $NODE_ID --to $OTHER_MASTER_ID  --slots $SLOTS --yes $NODE_IP
}

delete-node () {
    if is-master ; then
        reshard
    fi
    set-other-master-ip
    set-node-id
    redis-trib del-node $OTHER_MASTER_IP $NODE_ID
    rm $REDIS_CONF/$NODE_CONF_FILE
}

add-node () {
    set-other-master-ip
    set-node-ip
    redis-trib add-node $NODE_IP $OTHER_MASTER_IP
}

rebalance (){
    redis-trib rebalance --use-empty-masters $NODE_IP
}